* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

li {
  margin: 10px 0;
}

/* Classes */

.main-container {
  width: 825px;
  margin: 0 auto;
  border: 5px solid #363636;
}

.product-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 775;
  font-size: 23px;
  background-color: #f7f7f7;

  padding: 15px 20px;
}

.product-img {
  margin-bottom: 10px;
}

.price {
  font-size: 23px;
  margin-bottom: 5px;
}

.shipping {
  font-size: 13px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.shipping-description {
  margin-bottom: 5px;
}

.more-info {
  color: #242424;
}

.more-info:hover {
  text-decoration: none;
}

.details-title {
  font-size: 17px;
  text-transform: uppercase;
  margin: 30px 0px 20px;
}

.details-list {
  list-style: square;
  margin: 10px 0px;
  padding: 0px 20px;
}

.add-cart {
  background-color: #242424;
  color: #f7f7f7;
  font-size: 20px;
  text-transform: uppercase;
  border: 5px solid #0000;
  cursor: pointer;
  width: 100%;
  padding: 15px 10px;
}

.add-cart:hover {
  background-color: #f7f7f7;
  color: #242424;
}
