* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Classes */

.main-container {
  width: 825px;
  margin: 50px auto 30px;
  border: 5px solid #363636;
}

.product-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  background-color: #f7f7f7;
  padding: 15px 20px;
  position: relative;
}

.product-title::before {
  content: 'SALE';
  background-color: #e61b00;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.2rem;
  position: absolute;
  top: -25px;
  left: -35px;
  padding: 10px;
}

.price {
  font-size: 23px;
  margin-bottom: 5px;
}

.shipping {
  font-size: 12px;
  color: #777777;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.shipping-description {
  margin-bottom: 5px;
}

/* More information anchor */
.more-info {
  color: #242424;
}

.more-info:hover {
  text-decoration: none;
}

/* Product Details */
.details-title {
  font-size: 17px;
  text-transform: uppercase;
  margin: 30px 0px 10px;
}

.details-list {
  list-style: square;
  margin: 10px 0px;
  padding: 0px 20px;
}

.details-list li {
  margin: 10px 0;
}

/* Button */
.add-cart {
  background-color: #242424;
  color: #f7f7f7;
  font-size: 20px;
  text-transform: uppercase;
  border-top: 5px solid #242424;
  cursor: pointer;
  width: 100%;
  padding: 15px 10px;
}

.add-cart:hover {
  background-color: #f7f7f7;
  color: #242424;
}

.color-boxes {
  margin-top: 20px;
  padding: 15px 0;
}

.black-box {
  background-color: #000000;
  padding: 11px;
  margin-left: 0;
  display: inline-block;
}

.blue-box {
  background-color: #0000ff;
  padding: 11px;
  margin-left: 11px;
  display: inline-block;
}

.red-box {
  background-color: #ff0000;
  padding: 11px;
  margin-left: 11px;
  display: inline-block;
}

.yellow-box {
  background-color: #fbc100;
  padding: 11px;
  margin-left: 11px;
  display: inline-block;
}

.green-box {
  background-color: #6ecf00;
  padding: 11px;
  margin-left: 11px;
  display: inline-block;
}

.brown-box {
  background-color: #8f2e2e;
  padding: 11px;
  margin-left: 11px;
  display: inline-block;
}

/* FLOATS */
.product-img {
  float: left;
  margin-right: 20px;
}

.product-description {
  float: left;
  width: 240px;
  right: 50px;
  margin: 20px 20px;
}

.shipping {
  float: right;
  position: relative;
  top: -30px;
}

.product-details {
  float: right;
  width: 240px;
  margin: 20px 10px;
  padding: 20px;
  padding-top: 0;
  padding-left: 0;
}

.shipping-description {
  margin-top: 20px;
  padding: 0px;
}

.details-title {
  margin: 0;
  margin-bottom: 20px;
}
